<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
  To contact the author of Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/about">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>